.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.main-nav {
    display: flex;
}

.main-nav a {
    text-align: center;
	display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

#companyName {
    padding: 10px;
}

#signup {
    color: lightblue;
    border: solid 2px lightblue;
    border-radius: 5px;
}

hr {
    border-top: 3px solid lightslategray;
    box-shadow: 0 5px 10px 3px lightslategray;
    margin-bottom: 20px;
}

.deals {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.sale-item {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    background-color: aliceblue;
    padding: 2em;
    align-items: center;
}


.footer-nav-item {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

footer h3 {
    font-weight: bold;
}

ul {
    list-style: none;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
  }

  h3 {
      text-align: center;
  }

  li {
      text-align: center;
  }

  label {
      text-align: center;
  }

  .price {
      font-weight: bold;
  }