.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.main-nav {
    display: flex;
}

.deals {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.sale-item {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    background-color: aliceblue;
    padding: 2em;
}

.footer-nav-item {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

footer h3 {
    font-weight: bold;
}

ul {
    list-style: none;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
  }